@{
    ViewData["Title"] = "Somar";
}

<h1>@ViewData["Title"]</h1>
<form action="/OperacoesMatematicas/ResultadoSoma" method="post">
    <label for="n1">Número 1</label>
    <input type="text" id="n1" name="n1"></input>
    <br><br>
    <label for="n2">Número 2</label>
    <input type="text" id="n2" name="n2"></input>
    <br><br>
    <input type="submit" value="Somar"></input>
</form>